body {
    box-sizing:content-box;
    background-image:linear-gradient(rgba(68, 68, 92, 0.404)),url(./image/odin-background-image.jpeg);
    background-size:cover;
    background-position-x: center;
    margin: 0px;
    font-family: "MedievalSharp", cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color:rgb(253, 253, 253);
}

p, h1, h2, h3 {
    margin: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 50px;
}

.logo {
    display: flex;
    flex:3 0 auto; 
}

.logo p {
    margin: 0 20px;
    max-width: 100px;
    text-align: center;
    align-self: center;
    border-radius: 10%;
    font-size: 30px;
}

.container {
    display: flex;
    margin: 20px;
}

.logo {
    flex: 1;
}

.header .link {
    flex: 1;
    flex: 1 0 auto;
}

.header .link ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    gap: 15px;
    padding: 0;
}

img {
    width:100%;
    height: 100%;
}

.first {
    justify-content: center;
    gap: 10px;
}

.info-text {
    display: flex;
    flex-direction: column;
    gap:10px;
    text-align: justify;
    width: 450px;
    margin:20px;
}

.info-image {
    width: 350px;
    height: 350px;
    align-self: center;
    flex-shrink: 0;
    margin:20px;
}

.second {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.box-card {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex:1;
    margin: 20px;
}

.card-image {
    width: 300px;
    height: 300px;
    margin:10px;
}

.card-text {
    text-align: center;
}

.third {
    display: flex;
    align-items: center;
    justify-content: center;
}

.quote {
    display: flex;
    flex-direction: column;
    flex-basis: 1000px;
    font-style: italic;
}

.signature {
    align-self: flex-end;
}

.fourth {
    display: flex;
    justify-content: center;
    align-items: center;
}

.action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 400px;
    gap: 15px;
    margin: 20px;
}

.action-text {
    text-align: center;
}


footer {
    text-align: center;
    margin: 20px;
}

