html {
    scroll-behavior:smooth;
}

body {
    box-sizing:content-box;
    background-image:linear-gradient(rgb(28 32 67 / 54%)), url(./image/odin-background-image.jpeg);
    background-size:cover;
    background-position-x: center;
    margin: 20px;
    padding-top: 45px;
    font-family: "MedievalSharp", cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color:rgb(253, 253, 253);
}

p {
    margin: 10px;
}

h1, h2 {
    text-align: center;
    margin: 10px;
}

.header {
    position:fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 65px;
    background-color: black;
}

.logo {
    display: flex;
    flex:3 0 auto;
    margin-left: 20px;
}

.logo h1 {
    align-self: center;
    font-weight: 700;
    font-size: 40px;
}

.header .link {
    display: flex;
    flex: 1 0 auto;
    margin-right: 20px;
}

.header .link ul {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    gap: 15px;
    padding: 0;
    font-size: 22px;
}

.link a {
    color: white;
    text-decoration: none;
}

.link a:active {
    color: grey;
}

.container {
    display: flex;
}

img {
    width:100%;
    height: 100%;
    border: 1px solid black;
}

.first {
    justify-content: center;
    scroll-margin-top: 65px;
    flex-wrap: wrap;
}

.info-text {
    display: flex;
    flex-direction: column;
    gap:10px;
    text-align: justify;
    width: 800px;
    margin:20px;
}

.info-image {
    width: 300px;
    height: 300px;
    flex-shrink: 1;
    margin:20px;
    align-self: center;
}

.second {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    scroll-margin-top: 65px;
}

.box-card {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex:1;
    margin: 20px;
}

.card-image {
    width: 250px;
    height: 250px;
    margin:10px;
}

.card-text {
    text-align: justify;
}

.third {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    scroll-margin-top: 65px;
}

.quote {
    display: flex;
    flex-direction: column;
    font-style: italic;
    margin: 20px;
    max-width:800px;
    flex-basis: 350px;
}

.signature {
    align-self: flex-end;
}

.action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 240px;
    max-width:800px;
    gap: 15px;
    margin: 20px;
}

.action-text {
    text-align: center;
}

footer {
    text-align: center;
    margin: 20px;
}

.action-button {
    font-family: "MedievalSharp", cursive;
    border: 2px solid black;
    background-color: rgba(65, 65, 65, 0.233);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border-radius: 12px;
    cursor: pointer;
}

.action-button:hover {
    background-color: rgba(37, 19, 19, 0.356);
}
.action-button:active {
    background-color:rgba(65, 65, 65, 0.418);
}